<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.1/dist/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
        .vote_contents {
            display : flex;
            justify-content : center;
            }
    </style>
</head>
<body>
<div>
    <button onclick="location.href=`/chat/room`">돌아가기</button>
</div>

<!-- vote div -->
<div class="vote_container">
    <div style="text-align : center">
        <p>오늘 저녁 치킨</p>
    </div>
    <div class="vote_contents">
        <button onclick="pro_onClick();" >찬성</button>
        <p id="pro_percentage">0</p>
        <progress value="50" min="0" max="100" id="progress"></progress>
        <button onclick="con_onClick();">반대</button>
        <p id="con_percentage">0</p>
    </div>
</div>

<div class="container" id="app" v-cloak>
    <div>
        <h2>{{room.name}}</h2>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="sendMessage">보내기</button>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" v-for="message in messages">
            {{message.sender}} - {{message.message}}
        </li>
    </ul>
    <div></div>
</div>
<!-- JavaScript -->
<script src="/webjars/vue/2.6.14/dist/vue.min.js"></script>
<script src="/webjars/axios/0.21.1/dist/axios.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
<script>
    // vote 계산 변수
    let pro_count = 0;
    let con_count = 0;
    let total_count = 0;
    let pro_rate = 0;
    let con_rate = 0;
    let pro;
    let con;

    // websocket & stomp initialize
    var sock = new SockJS("/ws-stomp");
    var ws = Stomp.over(sock);
    // vue.js
    var vm = new Vue({
        el: '#app',
        data: {
            roomId: '',
            room: {},
            sender: '',
            message: '',
            messages: []
        },
        created() {
            this.roomId = localStorage.getItem('ws-stomp.roomId');
            this.sender = localStorage.getItem('ws-stomp.sender');
            this.findRoom();
        },
        methods: {
            findRoom: function() {
                axios.get('/chat/room/'+this.roomId).then(response => { this.room = response.data; });
            },
            sendMessage: function() {
                ws.send("/pub/chat/message", {}, JSON.stringify({type:'TALK', roomId:this.roomId, sender:this.sender, message:this.message}));
                this.message = '';
            },
            recvMessage: function(recv) {
                this.messages.unshift({"type":recv.type,"sender":recv.type=='ENTER'?'[알림]':recv.sender,"message":recv.message})
            }
        }
    });

    function connect() {
        // pub/sub event
        ws.connect({}, function(frame) {
            ws.subscribe("/sub/chat/room/"+vm.$data.roomId, function(message) {
                var recv = JSON.parse(message.body);
                vm.recvMessage(recv);
            });

            ws.send("/pub/chat/message", {}, JSON.stringify({type:'ENTER', roomId:vm.$data.roomId, sender:vm.$data.sender}));
        }, function(error) {
            alert("error : "+error);
        });
    }


    // 투표 찬성 함수
    function pro_onClick(){
        const pro = "pro";
        const roomId = localStorage.getItem('ws-stomp.roomId');
        stompClient.send("/pub/message" , {}, JSON.stringify({'pro' : 1 , 'con' : 0, 'roomId' : roomId}));
    }

    function con_onClick(){
        const con = "con";
        const roomId = localStorage.getItem('ws-stomp.roomId');
        stompClient.send("/pub/message" , {}, JSON.stringify({'pro' : 0, 'con' : 1, 'roomId' : roomId}));
    }

    // 투표 반대 함수

    // 투표 웹소켓 함수
    function vote_connect() {
    var socket = new SockJS('/ws-vote');
    stompClient = Stomp.over(socket);
    const roomId = localStorage.getItem('ws-stomp.roomId');

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);
        stompClient.subscribe("/sub/voteMessage/"+roomId, function (message) {
                console.log(JSON.parse(message.body));

            });
        });
    }



    connect();
    vote_connect();

</script>
</body>
</html>