<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.1/dist/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
        .vote_contents {
            display : flex;
            justify-content : center;
            }
        .chat_content{
            overflow-y: scroll;
            height : 410px;
        }
    </style>
</head>
<body>
<div>
    <button onclick="location.href=`/chat/room`">돌아가기</button>
</div>

<!-- vote div -->
<div class="vote_container">
    <div style="text-align : center">
        <p id="topic"></p>
    </div>
    <div class="vote_contents">
        <button onclick="pro_onClick();" >찬성</button>
        <p id="pro_percentage" th:text="${view_pro_rate}"></p>
        <progress value="50" min="0" max="100" id="progress"></progress>
        <button onclick="con_onClick();">반대</button>
        <p id="con_percentage" th:text="${view_con_rate}"></p>
    </div>
</div>

<div class="container" id="app" v-cloak>
    <div>
        <h2>{{room.name}}</h2>
        <button class="prev_chat">이전채팅 불러오기</button>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="sendMessage">보내기</button>
        </div>
    </div>
    <div class="chat_content">
        <ul class="list-group">
            <li class="list-group-item" v-for="message in messages">
                {{message.sender}}{{message.isProType}} - {{message.message}}
            </li>
        </ul>
    </div>
</div>
<!-- JavaScript -->
<script src="/webjars/vue/2.6.14/dist/vue.min.js"></script>
<script src="/webjars/axios/0.21.1/dist/axios.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
<script th:inline="javascript">

    const roomId = [[${roomId}]];
    const userId = [[${session.userId}]];
    const kakaoId = [[${session.kakaoId}]];
    let room = {};
    let top_db = 0; //채팅 db id 가져오는 변수

    $(document).ready(function(){
    $.ajax({
        type : "GET",
        url : "/chat/room/"+roomId,
        data : {},
        success : function (res){
            room = res;
            document.getElementById("topic").innerHTML = room.name;
            console.log("topic 테스트 " + room.name);
        },
        });
       });

    //홈페이지 로드 챗 메시지 불러오기
    $(document).ready(function(){
    $.ajax({
        type : "GET",
        url : "/chat/messageList/"+roomId+"/"+kakaoId,
        data : {},
        success : function (res){
            console.log("통신 성공");
            let ul_list = $(".list-group");

            for (var i = 0; i < res.length; i++) {
            // 현재 채팅중 맨위에 채팅의 db의 id를 top에 담음
            if(i==0)
            {
                top_db = res[i].id;
            }
            console.log(res[i].message);
            console.log(res[i].sender);
            ul_list.append("<li class=\"list-group-item\">"+res[i].sender+"("+res[i].isProType+")"+" - "+res[i].message+"</li>");
			}
        },
        });
       });
       // 리액트 테스트

    // 버튼 클릭 이전챗 이벤트
    $(function () {
                    $('.prev_chat').on("click",getData);
               });

    function getData() {
		$.ajax({
			type:"GET",
			url:"/chat/messageList/prev/"+roomId+"/"+kakaoId,
			data : {"id" : top_db},
			success:function(res){
			let ul_list = $(".list-group");
            for (var i = 0; i < res.length; i++) {

                // 현재 채팅중 맨위에 채팅의 db의 id를 top에 담음
                if(i==res.length-1)
                {
                    top_db = res[i].id;
                }
                console.log(res[i].message);
                console.log(res[i].sender);
                ul_list.prepend("<li class=\"list-group-item\">"+res[i].sender+"("+res[i].isProType+")"+" - "+res[i].message+"</li>");
            }
			},
		})
	}

    // websocket & stomp initialize
    var sock = new SockJS("/ws-stomp");
    var ws = Stomp.over(sock);
    // vue.js
    var vm = new Vue({
        el: '#app',
        data: {
            roomId: '',
            room: {},
            sender: [[${session.userId}]],
            message: '',
            messages: []
        },
        created() {
            this.roomId = [[${roomId}]];
            this.findRoom();
        },
        methods: {
            findRoom: function() {
                axios.get('/chat/room/'+this.roomId).then(response => { this.room = response.data; });
            },
            sendMessage: function() {
                ws.send("/pub/chat/message", {}, JSON.stringify({type:'TALK', roomId:this.roomId, sender:this.sender, message:this.message, kakaoId:kakaoId}));
                this.message = '';
            },
            recvMessage: function(recv) {
                // 입장시 에는 isProType 출력 안하려고
                if(recv.type=='ENTER'){
                    this.messages.push({"type":recv.type,"sender":'[알림]',"message":recv.message, "isProType": ""});
                }
                // recv.type ==TALK일때는 이름(찬성 Or 반대)출력
                else {
                this.messages.push({"type":recv.type,"sender":recv.sender,"message":recv.message, "isProType": "("+recv.isProType+")"});
                }
            }
        }
    });

    function connect() {
        // pub/sub event
        ws.connect({}, function(frame) {
            ws.subscribe("/sub/chat/room/"+vm.$data.roomId, function(message) {
                var recv = JSON.parse(message.body);
                console.log("recv test " + recv.isProType);
                vm.recvMessage(recv);
            });
            ws.subscribe("/user/queue/"+vm.$data.roomId, function(message){
                var recv = JSON.parse(message.body);
                console.log("user_Send테스트"+recv.message);
                vm.recvMessage(recv);
            });

            ws.send("/pub/chat/message", {}, JSON.stringify({type:'ENTER', roomId:vm.$data.roomId, sender:vm.$data.sender}));
        }, function(error) {
            alert("error : "+error);
        });
    }



    // 투표 찬성 함수
    function pro_onClick(){
        stompClient.send("/pub/message" , {}, JSON.stringify( //위에 뷰처럼 JSON으로 보내야할듯
        {'pro' : 1 , 'con' : 0, 'roomId' : roomId, 'userId' : userId, 'topic' : room.name, 'kakaoId' : kakaoId}));
    }

    function con_onClick(){
        stompClient.send("/pub/message" , {}, JSON.stringify(
        {'pro' : 0, 'con' : 1, 'roomId' : roomId, 'userId' : userId, 'topic' : room.name, 'kakaoId' : kakaoId}));
    }

    // 투표 반대 함수

    // 투표 웹소켓 함수
    function vote_connect() {
    var socket = new SockJS('/ws-vote');
    stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);
        stompClient.subscribe("/sub/voteMessage/"+roomId, function (message) {
        let response = JSON.parse(message.body);

        // 중복처리 (response.kakaoId == kakaoId 안하면 모든유저한테 경고)
        if (response.error !== null & response.kakaoId == kakaoId) {
            alert(response.error);
            document.getElementById("pro_percentage").innerHTML = response.prorate;
            document.getElementById("con_percentage").innerHTML = response.conrate;
        } else {
            // 정상 처리
            document.getElementById("pro_percentage").innerHTML = response.prorate;
            document.getElementById("con_percentage").innerHTML = response.conrate;
        }
            });
        });
    }

    // 채팅 스크롤 처리


    connect();
    vote_connect();
</script>
</body>
</html>