<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colosseum</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <style>
        body {
            margin: 0;
        }

        html,
        body {
            height: 100%;
        }
    </style>
</head>

<body class="bg-white dark: bg-zinc-900">
<section class="bg-white dark: bg-zinc-900">
    <div class="container px-6 py-10 mx-auto">
        <!-- 모달 배경 -->
        <div id="confirmModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">

            <!-- 모달 내용 -->
            <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-gray-700">
                <div class="mt-3 text-center">
                    <h3 class="text-lg leading-6 font-medium text-white">
                        로그아웃 확인
                    </h3>
                    <div class="mt-2 px-7 py-3">
                        <p class="text-sm text-white">
                            확인 버튼을 누르면 로그아웃이 됩니다.
                        </p>
                    </div>
                    <div class="items-center px-4 py-3">
                        <button id="confirmBtn"
                                class="px-4 py-2 bg-blue-500 text-white text-base font-medium rounded-md w-auto shadow-sm hover:bg-blue-700">
                            확인
                        </button>
                        <button id="cancelBtn"
                                class="px-4 py-2 ml-3 bg-white text-blue-500 text-base font-medium rounded-md w-auto shadow-sm hover:bg-gray-100">
                            취소
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="menuToggle" class="cursor-pointer fixed top-0 right-0 m-5 px-3 py-2 bg-zinc-900 rounded-full">
            <div class="h-1 w-6 bg-white my-1"></div>
            <div class="h-1 w-6 bg-white my-1"></div>
            <div class="h-1 w-6 bg-white my-1"></div>
        </div>

        <!-- 메뉴 컨테이너 -->
        <div
                class="menu-container fixed top-0 right-0 h-full bg-gray-800 w-64 transform translate-x-full transition-transform duration-300">
            <div class="menu p-8 text-white">
                <div class="flex justify-end">
                    <button id="closeMenu" class="p-2 bg-gray-600 hover:bg-gray-700 text-white rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2"
                                  d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <!-- 메뉴 아이템들 -->
                <div th:if="${session.isLoggedIn}">
                    <p><span th:text="${session.userId}"></span></p>
                    <p>작성 댓글 수 <span id="nor">123</span></p>
                    <p>투표 수 <span id="nov">123</span></p>
                    <button class="text-gray-400 mt-4 flex" onclick="showModal()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                        <p class="ml-2">로그아웃</p>
                    </button>
                    <div th:if="${session.isAdmin}">
                        <p class="mt-10 mb-4">새 토픽 만들기</p>
                        <input type="text" placeholder="토픽" class="w-full flex-1 border rounded-full px-4 py-2 focus:outline-none text-black text-sm" id="newTopic"/>
                        <label>기간</label>
                        <input name="period" type="number" class="text-black w-10 mt-4" id="newPeriod"/>

                        <button class="bg-gray-700 hover:bg-blue-600 text-white font-semibold py-1 px-2 rounded shadow mt-3 float-right" onclick="adminFunction()">
                            만들기
                        </button>
                    </div>
                </div>

                <div th:if="${session.isLoggedIn == null ? true : false}">
                    <a href= "https://kauth.kakao.com/oauth/authorize?client_id=e174dd79d6f23ded9d7887f7157b726c&redirect_uri=http://144.24.64.77:8080/login/kakao&response_type=code" class="flex items-center text-white hover:text-gray-300">
                        <img src="https://cdn.imweb.me/upload/S20210304872ba49a108a8/89a68d1e3674a.png" alt="Kakao Logo"
                             class="w-8 h-8 mr-2" />
                        <span class="flex-grow">카카오 로그인</span>
                    </a>
                </div>
            </div>
        </div>
        <h1 class="w-48 h-2 mx-auto bg-gray-200 rounded-lg dark:bg-gray-800"></h1>
        <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 sm:grid-cols-2 xl:grid-cols-3 lg:grid-cols-3" id="cardContainer">
            <!-- card 들어가는 곳-->

        </div>
    </div>
</section>
</body>
<script src="card.js"></script>
<script src="load.js"></script>
<script>
    //console.log(`[[${session.userId}]]`);
    const menuToggle = document.getElementById("menuToggle");
    const closeMenu = document.getElementById("closeMenu");
    const menuContainer = document.querySelector(".menu-container");
    menuToggle.addEventListener("click", () => {
        menuContainer.classList.remove("translate-x-full");
    });

    closeMenu.addEventListener("click", () => {
        menuContainer.classList.add("translate-x-full");
    });

    function showModal() {
        document.getElementById('confirmModal').classList.remove('hidden');
    }

    // 모달 숨기기 함수
    function hideModal() {
        document.getElementById('confirmModal').classList.add('hidden');
    }

    // 이벤트 리스너
    document.getElementById('confirmBtn').addEventListener('click', function () {
        // 로그아웃 로직 처리
        location.href="/logout";
    });

    document.getElementById('cancelBtn').addEventListener('click', function () {
        hideModal();
    });



    document.addEventListener('DOMContentLoaded', function() {
        getRoomInformations();
        getUserInfo('[[${session.kakaoId}]]');
    });


</script>
<script th:if="${session.isAdmin}">
    // 관리자 사용자만을 위한 JavaScript 함수
    let lastExecuted = 0;
        function adminFunction() {
        const now = Date.now();

        if (now - lastExecuted > 500) {
            const topic = document.querySelector('#newTopic').value;
            const period = document.querySelector('#newPeriod').value;
            document.querySelector('#newTopic').value = '';
            document.querySelector('#newPeriod').value = '';
            createTopic(topic, period);
        }

    }
</script>

</html>
