<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
</head>
<body>
    <button onclick="onClick();" id="A">찬성</button>
    <progress value="50" min="0" max="100" id="prog"></progress>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script>

    function onClick(){
        stompClient.send("/pub/message" , {}, JSON.stringify({'value': $("#prog").val()}));
    }


    function connect() {
    var socket = new SockJS('/ws-vote');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);
        stompClient.subscribe('/sub/voteMessage', function (message) {

            console.log((JSON.parse(message.body)).getValue);
            });
        });
    }

    connect();


</script>
</body>
</html>